#btn{
    background: rgb(18, 174, 236);
    height: 50px;
    width: 45px;
}
#btn1{
    background-color: rgb(166, 187, 187);
    height: 50px;
    width: 45px;
}
body{
    background-color: rgb(38, 38, 49);
}