.form-control{
    border-radius: 50px;
    border-color: rgb(0, 0, 0);
}
body{
    text-align: center;
}
.calc-body{
    height: 300px;
    width: 25%;
    color: aqua;
    
}
#result{
    text-align: center;
}